body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    background-color: #b2e9e9;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "sacramento", cursive;
}

h2 {
  color: #66bfbf;
    font-family: "montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.btn {
  background: #4a34d9;
  background-image: -webkit-linear-gradient(top, #4a34d9, #b82bb8);
  background-image: -moz-linear-gradient(top, #4a34d9, #b82bb8);
  background-image: -ms-linear-gradient(top, #4a34d9, #b82bb8);
  background-image: -o-linear-gradient(top, #4a34d9, #b82bb8);
  background-image: linear-gradient(to bottom, #4a34d9, #b82bb8);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: "montserrat", sans-serif;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #061e2e;
  background-image: -webkit-linear-gradient(top, #061e2e, #169094);
  background-image: -moz-linear-gradient(top, #061e2e, #169094);
  background-image: -ms-linear-gradient(top, #061e2e, #169094);
  background-image: -o-linear-gradient(top, #061e2e, #169094);
  background-image: linear-gradient(to bottom, #061e2e, #169094);
  text-decoration: none;
}

  .bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
  }

  .navbar {
    padding: 50px 0 20px;
    text-align: center;
  }

  a {
    color: #11999e;
    font-family: "helvetica neue",helvetica,verdana,fantasy,serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 255, 255);
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }

  .top-container {
    background-color: #e4f9f5;
    position: relative;
    padding: 50px 0 20px;
  }

  .middle-container {
    margin: 100px 0;
  }

  .intro {
    width: 30%;
    margin: auto;
    font-size: 1.5rem;
  }

  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }

  .botton-cloud {
      position: relative;
      left: 250px;
      bottom: 350px;
  }

  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
  .services-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  .shopping-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }

  .about-us-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }

  .about-img {
    width: 25%;
    float:left;
    margin-right: 30px;
  }
